<div class="container">
  <div class="row">
    <div class="col-md-12">
        
      <app-device-template *ngIf= "eteAdata" id={{eteAdata}}>

      </app-device-template>

    </div>

    <!-- <div class="col-md-12">
        
      <app-ete-template *ngIf= "eteAdata" id={{eteAdata}}>

      </app-ete-template>

    </div> -->

    <div class="col-md-12">
        
        <app-ete-template *ngIf= "eteBdata" id={{eteBdata}}>
  
        </app-ete-template>
  
      </div>

      <div class="col-md-12">
        
          <app-ete-template *ngIf= "eteCdata" id={{eteCdata}}>
    
          </app-ete-template>
    
        </div>
  </div>

</div>