// @import '../../../@theme/styles/themes.scss';
// @import '~@nebular/theme/styles/global/breakpoints';
// @import '~bootstrap/scss/mixins/breakpoints';
// $ionicons-font-path: "~ionicons/dist/fonts";
// @import "~ionicons/dist/scss/ionicons.scss";
// @import '~@nebular/bootstrap/styles/hero-buttons';

// @include nb-install-component() {

//     .show-grid {
//         .row {
//           margin: -0.5rem;
//         }
    
//         div[class^=col-] {
//           padding: 0.5rem;
//           box-sizing: border-box;
    
//           div {
//             text-align: center;
//             background-color: nb-theme(color-bg-active);
//             padding: 0.75rem 0.25rem;
//             border-radius: 0.25rem;
//           }
//         }
//       }

//       .grid-h {
//         margin-top: 1.5rem;
    
//         &:first-child {
//           margin-top: 0;
//         }
//       }
    
//       .table-responsive {
//         margin-top: 1rem;
//       }

//       nb-card {
//         background-image: nb-theme(radial-gradient);
//       }
    
//       nb-card-body {
//         height: 100%;
//         padding: 2rem;
//         color: nb-theme(color-fg);
//       }

// }

// // @include media-breakpoint-down(xs) {
// //     nb-card-body {
// //       padding-left: 1rem;
// //       padding-right: 1rem;
// //     }
// //   }



.badge-success {
    background-color: #00d977; /* Green */
    margin-bottom: 5px;
    font-size: 10px;
    margin-right: 5px;
    color: #ffffff
};

.badge-danger {
    background-color: #ff386a; /* Red */ 
    margin-bottom: 5px;
    font-size: 10px;
    margin-right: 5px;
    color: #ffffff
}
.badge-warning {
    background-color:#ffa100;
    margin-bottom: 5px;
    font-size: 10px;
    margin-right: 5px;
    color: #ffffff
}