<nb-layout>
  <nb-layout-header subheader>
      <button (click)="toggle()" class="btn btn-sm sidebar-toggle-button" type="button" *ngIf="authService.checkAuth()">
          <img src="../assets/img/logo_branca1.png" style="width: 35px; height: 25px;" />  
        Menu</button>
        </nb-layout-header>

  <nb-sidebar state="collapsed" fixed *ngIf="authService.checkAuth()">
      <nb-layout-column start class="small">
          <nb-menu [items]="subMenu"></nb-menu>
        </nb-layout-column>
  </nb-sidebar>



  <nb-layout-column class="main-content">

    

    <router-outlet></router-outlet>
  </nb-layout-column>
  
  <nb-layout-footer>
   
  <span> Desenvolvido por futuroallu.com</span> 
  </nb-layout-footer>

</nb-layout>



