<div class="container">
  <div class="row">
  
    <div class="col-md-12" *ngIf="deviceName">
          <nb-card>
              <nb-card-header style="text-align: center; font-size: 1.5rem" >
                   {{deviceName}}
                </nb-card-header >
                <span class="badge badge-success" style="position: absolute; top:10px; right: 20px" *ngIf="internetstatus == 'true'">
                  Conectado</span>
                <span class="badge badge-danger" style="position: absolute; top:10px; right: 20px" *ngIf="internetstatus == 'false'">
                  Desconectado</span>
  
  
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="grid-h">Volume</h5>
                            <div class="row show-grid">

                                <div class="col-md-6" style="text-align: center" *ngIf="sewageLevel">
                                        <fusioncharts
                                        width="150"
                                        height="230"
                                        type="cylinder"
                                        dataFormat="json"
                                        [dataSource]="data" >
                                        </fusioncharts>
    
                                </div> 

                                <div class="col-md-6" style="text-align: center" *ngIf="sewageLevel && aB1F1 && aB2F1">
    
                                <nb-alert *ngIf="sewageLevel <= 50" status="success" style="text-align: center; font-size: 1.0rem">Volume Normal</nb-alert>
                                <nb-alert *ngIf="sewageLevel >= 100" status="danger" style="text-align: center; font-size: 1.0rem">Risco de Transbordo</nb-alert>

                                <nb-alert *ngIf="aB1F1 > 0" status="success" style="text-align: center; font-size: 1.0rem">Bomba 1 Ligada</nb-alert>
                                <nb-alert *ngIf="aB1F1 == 0" status="danger" style="text-align: center; font-size: 1.0rem">Bomba 1 Desligada</nb-alert>

                                <nb-alert *ngIf="aB2F1 > 0" status="success" style="text-align: center; font-size: 1.0rem">Bomba 2 Ligada</nb-alert>
                                <nb-alert *ngIf="aB2F1 == 0" status="danger" style="text-align: center; font-size: 1.0rem">Bomba 2 Desligada</nb-alert>

                                
                                </div>

                                       
                        </div>
                        <hr/>
                            </div>

                           
    
  
                    
                        <div class="col-sm-12">
                              <h5 class="grid-h">Bomba 1</h5>
                              <div class="row show-grid">
                           
                              <div class="col-md-3" style="text-align: center" *ngIf="aB1F1">
                                      <h6>Corrente</h6>    
                                  <ngx-gauge [type]="gaugeType" 
                                      [value]="aB1F1" 
                                      [label]=""  
                                      [append]="currentAppendText"
                                      [size]="100"
                                      [min]="0"
                                      [max]="20"
                                      [foregroundColor]="gaugeForegroundColor"
                                      >
                                      </ngx-gauge>
                              </div>
  
                              <div class="col-md-3" style="text-align: center" *ngIf="vB1F1">
                                      <h6>Fase 1</h6>
                                  <ngx-gauge [type]="gaugeType" 
                                  [value]="vB1F1" 
                                  [label]=""  
                                  [append]="phaseAppendText"
                                  [size]="100"
                                  [min]="0"
                                  [max]="127"
                                  [foregroundColor]="gaugeForegroundColor"
                                  >
                                  </ngx-gauge>
                              </div>
    
                              <div class="col-md-3" style="text-align: center" *ngIf="vB1F2">
                                  <h6>Fase 2</h6>
                                  <ngx-gauge [type]="gaugeType" 
                                  [value]="vB1F2" 
                                  [label]=""  
                                  [append]="phaseAppendText"
                                  [size]="100"
                                  [min]="0"
                                  [max]="127"
                                  [foregroundColor]="gaugeForegroundColor"
                                  >
                                  </ngx-gauge>
                              </div>
    
                              <div class="col-md-3" style="text-align: center" *ngIf="vB1F3">
                                  <h6>Fase 3</h6>
  
                                  <ngx-gauge [type]="gaugeType" 
                                  [value]="vB1F3" 
                                  [label]="" 
                                  [append]="phaseAppendText"
                                  [size]="100"
                                  [min]="0"
                                  [max]="127"
                                  [foregroundColor]="gaugeForegroundColor"
                                  >
                                  </ngx-gauge>
                              </div>
                              
                            </div>
                             
    
                          </div>
                     
  
                        <div class="col-sm-12">
                              <hr/>
                              <h5 class="grid-h">Bomba 2</h5>
                              <div class="row show-grid">
  
                              <div class="col-md-3" style="text-align: center" *ngIf="aB2F1">
  
                                  <h6>Corrente</h6>    
                                  <ngx-gauge [type]="gaugeType" 
                                      [value]="aB2F1" 
                                      [label]=""  
                                      [append]="currentAppendText"
                                      [size]="100"
                                      [min]="0"
                                      [max]="20"
                                      [foregroundColor]="gaugeForegroundColor"
                                      >
                                  </ngx-gauge>
  
                                  </div>
  
                              <div class="col-md-3" style="text-align: center" *ngIf="vB2F1">
                                  
  
                                  <h6>Fase 1</h6>
                                  <ngx-gauge [type]="gaugeType" 
                                  [value]="vB2F1" 
                                  [label]=""  
                                  [append]="phaseAppendText"
                                  [size]="100"
                                  [min]="0"
                                  [max]="127"
                                  [foregroundColor]="gaugeForegroundColor"
                                  >
                                  </ngx-gauge>
                              </div>
    
                              <div class="col-md-3" style="text-align: center" *ngIf="vB2F2">
  
                                  <h6>Fase 2</h6>
                                  <ngx-gauge [type]="gaugeType" 
                                  [value]="vB2F2" 
                                  [label]=""  
                                  [append]="phaseAppendText"
                                  [size]="100"
                                  [min]="0"
                                  [max]="127"
                                  [foregroundColor]="gaugeForegroundColor"
                                  >
                                  </ngx-gauge>
                              </div>
    
                              <div class="col-md-3" style="text-align: center" *ngIf="vB2F3">
  
                                  <h6>Fase 3</h6>
                                  <ngx-gauge [type]="gaugeType" 
                                  [value]="vB2F3" 
                                  [label]=""  
                                  [append]="phaseAppendText"
                                  [size]="100"
                                  [min]="0"
                                  [max]="127"
                                  [foregroundColor]="gaugeForegroundColor"
                                  >
                                  </ngx-gauge>
  
                                  
                              </div>
                              
                            </div>
  
                    
                            
                          
                           
  
                        </div>
                    </div>
  
  
  
                </nb-card-body>
                <nb-card-footer>
                    <button class="btn btn-sm btn-hero-info btn-demo" 
                    style="float:right" (click)="goToDeviceDetail()" > 
                    Detalhes</button>               
                </nb-card-footer>
            </nb-card>
  
  
  
  
  
    
  
     
  
  
    
  
  
  
        
  
  
  
    </div>
  
  
  </div>
  </div>