@import 'themes';
@import '~@nebular/bootstrap/styles/globals';
@import '~@nebular/theme/styles/globals';
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

@include nb-install() {
  @include nb-theme-global();
  @include nb-bootstrap-global();
};



@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(color-bg-active);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }
  .menu-icon {
    font-size: 1.5rem;
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .table-responsive {
    margin-top: 1rem;
  }

  nb-sidebar.settings-sidebar {
    $sidebar-width: 19rem;

    transition: transform 0.3s ease;
    width: $sidebar-width;
    overflow: hidden;
    @include nb-ltr(transform, translate3d(100%, 0, 0));
    @include nb-rtl(transform, translate3d(-100%, 0, 0));
    &.start {
      @include nb-ltr(transform, translate3d(-100%, 0, 0));
      @include nb-rtl(transform, translate3d(100%, 0, 0));
    }

    &.expanded, &.expanded.start {
      transform: translate3d(0, 0, 0);
    }

    /deep/ .scrollable {
      width: $sidebar-width;
      padding: 3.4rem 0.25rem;
    }

    /deep/ .main-container {
      width: $sidebar-width;
      background: nb-theme(color-bg);
      transition: transform 0.3s ease;
      overflow: hidden;
      position: relative;

      .scrollable {
        width: $sidebar-width;
      }

      @include nb-for-theme(cosmic) {
        background: nb-theme(layout-bg);
      }
    }
  }
  nb-sidebar.menu-sidebar {

    margin-top: nb-theme(sidebar-header-gap);

    @include nb-for-theme(corporate) {
      margin-top: 0;
    }

    /deep/ .main-container {
      height:
        calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)} - #{nb-theme(sidebar-header-gap)}) !important;
      @include nb-ltr(border-top-right-radius, nb-theme(radius));
      @include nb-rtl(border-top-left-radius, nb-theme(radius));

      @include nb-for-theme(corporate) {
        border: 1px solid nb-theme(separator);
        height:
          calc(#{nb-theme(sidebar-height)} - #{nb-theme(header-height)}) !important;
      }
    }

    /deep/ .scrollable {
      @include nb-for-theme(corporate) {
        padding-top: 0;

        .menu-item:first-child {
          border-top: none;
        }
      }
    }

    /deep/ nb-sidebar-header {
      padding-bottom: 0.5rem;
      text-align: center;
    }

    background: transparent;

    .main-btn {
      padding: 0.75rem 2.5rem;
      margin-top: -2rem;
      font-weight: bold;
      transition: padding 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.48);

      @include nb-for-theme(corporate) {
        border-radius: nb-theme(radius);
      }

      i {
        font-size: 2rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        margin-right: 5px;
      }
      span {
        @include nb-ltr(padding-left, 0.25rem);
        @include nb-rtl(padding-right, 0.25rem);
      }

      i, span {
        vertical-align: middle;
      }
    }

  
  }
}

.nb-theme-cosmic nb-menu .menu-item .menu-icon.fas {
  font-size: 1.5rem;
  }
.nb-theme-cosmic nb-menu .menu-item {
  margin-bottom: 15px;
}
/* You can add global styles to this file, and also import other style files */
